body {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  order: 1;
  background-color: aquamarine !important;
}

canvas {
  height: 50%;
  width: 50%;
  order: 3;
  padding-left: 10px;
  padding-right: 10px;
}

#qrcode {
  order: 2;
  width: 15%;
}
#players {
  order: 4;
  width: 15%;
}

#scan {
  padding-top: 20px;
}

.nav {
  width: 100%;
  margin-bottom: 25px !important;
  position: fixed;
  border-radius: 10px;
  box-shadow: 5px 10px #888888;
}

.player {
  height: 22%;
  background-color: aliceblue;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 15px;
  padding-top: 5px;
}
.char {
  height: 50%;
  width: 100%;
  border-radius: 15px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.bombs {
  font-size: 10px !important;
  color: black !important;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 0;
}

.bombImage {
  height: 60%;
  width: 60%;
  margin-left: 0%;
}

#count {
  color: black;
}

.bombCount {
  margin-top: 0px;
  font-size: 12px !important;
  display: flex;
  justify-content: center;
}
.charImg {
  display: block;
  margin: auto;
  width: 50%;
  opacity: 50%;
}

.joinedGame {
  opacity: 1 !important;
}

.powerups {
  opacity: 1 !important;
  height: 50px;
  width: 50px;
  margin: 10px;
}

#powerupTitle {
  font-size: 12px !important;
}

#powerupLedg {
  margin-top: 50px !important;
}

.cont {
  padding-top: 20px !important;
}

#code {
  display: block;
  margin: auto;
  opacity: 1 !important;
}

#code > img {
  margin: auto;
  width: 70%;
  height: 70%;
  box-shadow: 5px 7px #888888;
}

.startPage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 6;
  /* display: none; */
}

.nes-btn {
  z-index: 7;
  margin-top: 28%;
  margin-left: 48%;
}

.hidden {
  display: none;
}
